{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Úsala Ya!</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'main/key.png' %}"/>
</head>
<body>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  window.fbAsyncInit = function() {
    console.log('init')
    FB.init({
      appId      : '1690412444582243',
      cookie     : false,  // enable cookies to allow the server to access 
                          // the session
      xfbml      : true,  // parse social plugins on this page
      version    : 'v2.8' // use graph api version 2.8
    });
    FB.getLoginStatus(function(response) {
        statusHandler(response);
    });
  };

</script>


<header>
  <img id="main-picture" class="hide" src="#">
  {% if user.is_authenticated %}
  <div class="inline-block"><img style="border-radius: 50%" src="{{user.picture}}"></div>
  <div class="inline-block" id="main-username">{{user}}</div>
  {% endif %}
  <div class="fb-login-button" scope="email" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true" onlogin="onLoggedIn();"></div>
  {% if not user.is_authenticated %}
    <div id="no-session-message">
      Inice sesión si desea usar la cuenta
    </div>
  {% endif %}
</header>

<section class="users inline-block">
  <h4 class="txt-centered">Registrados</h4>
  {% for u in users %}
    <div class="user {% if not user.using_account and u.using_account %}warn{% elif user.using_account and u.using_account %}own{% endif %}">
      <div class="inline-block">
        <img style="border-radius: 50%; padding-top: 6px" src="{{u.picture}}">
      </div>
      <div class="inline-block name-block">
      <label class="username">{{u.first_name}}</label><br>
      {% if u.using_account %}
        <label class="username"><strong>usando...</strong></label><br>
      {% endif %}
      <label class="italic">Último uso: {{u.last_session|date:"d/m/y h:i a"|default:"---"}}</label>
      </div>
    </div>
  {% endfor %}

</section>
<section class="actions-block inline-block txt-centered">
  <section>
    
    <div class="using-msg {% if not session %}ok{% elif user.using_account %}own{% else %}warn{% endif %}">
      <p class="{% if not session %}hide{% endif %}">
        {% if user.using_account %}
          Estas usando la cuenta 
        {% else %}
          La cuenta esta siendo usada 
        {% endif %}
        hasta la(s)<br>
        <h3>{{session.expire_at|date:"h:i a"}}</h3>
      </p>

      {% if user.is_authenticated %}
        <form method="POST" id="main-form" name="main-form" class="{% if session %}hide{% endif %}">
          <h2>Está libre!</h2>
          Cuantos minutos usarás la cuenta? <br><br><input type="number" name="session-time" id="session-time" value="10" required> Minutos
          <br><br>
          <button type="submit" id="use-account-btn" class="btn">
            Usar
          </button>
        </form>
      {% elif not session %}
        <h2>Está libre!</h2>
      {% endif %}
      {% if not user.using_account %}
        <br>
        <button id="update-btn" class="btn" onclick="window.location.reload();">
          Actualizar
        </button>
      {% endif %}
      {% if user.using_account %}
        <button id="end-session-btn" class="btn">
          Dejar de usar
        </button>
      {% endif %}
    </div>
  </section>
  <section style="text-align: left;">
    <P><strong>POR QUÉ?</strong> Aveces es incomodo pedir permiso cada que vas a usar la plataforma de Platzi. La idea es que si "Está libre!", la puedes usar inmediatamente.</P>

    Ventajas:
    <ul>
      <li>Se tiene claro a que hora podras usar a la plataforma</li>
      <li>Evita el spam del chat de facebook</li>
      <li>Para los que se olvidan de avisar que ya no estan usando la cuenta, Las sesiones terminan pasado el tiempo que dijiste que la usarias</li>
    </ul>
    <p><strong>NOTA IMPORTANTE:</strong> La sesión se hace por facebook pero solo se usa su email y nombres asi que no se preocupen ;) <br>para los devs del team, les dejo el repo del <a href="https://github.com/MackYoel/curse-controler">codigo fuente</a></p>
  </section>
</section>

<script>
  var personEmail = '{{user.email}}';
  var isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
  console.log('isAuthenticated:', isAuthenticated)
  {% if session %}
    var sessionId = {{session.pk}}
  {% endif %}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
<script src="{% static 'main/scripts.js' %}"></script>
<script>
  {% if session %}
      var remaining = {{session.remaining}};
      trackRemaining(remaining);
  {% endif %}
</script>
</body>
</html>